* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  min-height: 100vh;
}

/* Side navbar header styles */
aside {
  position: fixed;
  width: 256px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
}

.navbar-header img {
  padding-right: 10px;
}

/* Side navbar options styles */
aside nav {
  display: flex;
  justify-content: center;
}

aside li {
  width: 224px;
  height: 48px;
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

aside li:hover {
  background-color: #7c7c7c;
  border: 1px solid #7c7c7c;
  border-radius: 8px;
}

aside i,
a {
  margin-left: 10px;
  margin-right: 10px;
}

aside a {
  color: black;
}

/* Dashboard header styles */

header {
  margin-left: 256px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.05);
}

header p {
  margin-left: 30px;
  margin-right: 30px;
}

header button {
  margin-left: 30px;
  margin-right: 30px;
  width: 70px;
  height: 35px;
  border: transparent;
  border-radius: 8px;
  background: linear-gradient(#0319df, #068bd8);
  color: white;
  font-weight: bold;
}

header button:hover {
  background: linear-gradient(to right, #068bd8, #0319df);
}

/* Dashboard indicators */
main {
  margin-left: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indicators {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 930px;
  height: 80px;
}

.counter {
  width: 214px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count-info p {
  font-size: 11px;
}

.count-info h2 {
  font-size: 18px;
}

.fa-book {
  color: #2563eb;
}

.favorites-image .fa-heart {
  color: #dc2626;
}

.fa-download {
  color: #16a34a;
}

.fa-tags {
  color: #9333ea;
}

.books,
.favorites,
.downloads,
.categories {
  width: 150px;
  height: 41px;
  display: flex;
  justify-content: space-around;
}

.book-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 6.3px;
  background-color: #dbeafe;
}

.favorites-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 6.3px;
  background-color: #fee2e2;
}

.downloads-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 6.3px;
  background-color: #dcfce7;
}

.categories-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 6.3px;
  background-color: #f3e8ff;
}

/* Searching filters and add book button */
.options {
  width: 862px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  gap: 20px;
}

.book-name-filter input {
  width: 240px;
  height: 33px;
  border-radius: 8px;
}

.categories-filter input {
  width: 126px;
  height: 33px;
  border-radius: 8px;
}

.sort input {
  width: 126px;
  height: 33px;
  border-radius: 8px;
}

.add-book button {
  width: 126px;
  height: 33px;
  border-radius: 8px;
  border-color: transparent;
  background-color: #dc2626;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
  font-weight: bold;
}

.add-book .fa-book {
  color: white;
}
