/* Estilos para el contenedor principal de la pantalla de carga */
#loader-wrapper {
    position: fixed; /* Se queda fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#5F698A, #191B24 ); /* Color de fondo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté por encima de todo */
    transition: opacity 0.5s; /* Para una desaparición suave */
}

/* Contenedor para el logo y el círculo */
.loader-container {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos del círculo giratorio (Spinner) */
.loader-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Lo convierte en un círculo perfecto */
    
    /* El truco del gradiente en el borde */
    border: 8px solid transparent;
    border-top-color: #6a82fb;   /* Color azul claro del gradiente */

    /* Animación */
    animation: spin 1.3s linear infinite;
}

/* Animación de rotación */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Animación de nube flotante */
.loader-cloud {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: auto;
    animation: cloud-move 3s ease-in-out infinite;
    pointer-events: none;
}

@keyframes cloud-move {
    0% { transform: translate(-50%, -50%) translateY(0); }
    50% { transform: translate(-50%, -50%) translateY(-20px); }
    100% { transform: translate(-50%, -50%) translateY(0); }
}

/* Estilos para el texto */
.loader-text {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-family: "Poppins", sans-serif; /* Puedes cambiar la fuente */
}

.loader-text h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}

.loader-text p {
    margin-top: 8px;
    font-size: 14px;
    color: #cccccc;
}